*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #151515;
    --second-bg-color: #2a2a2a;
    --text-color: white;
    --second-color: rgba(250.250,250);
    --main-color: #ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    padding: 22px 15px;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}
.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--main-color);
}
#nav-menu{
    display: flex;
}
#nav-menu a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}
#nav-menu a:hover{
    color: var(--main-color);
}
#nav-menu a.active{
    color: var(--main-color)
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section{
    padding: 160px 15% 120px;
}
#home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #1d1d1d;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slide{
    margin-bottom: 20px;
}
.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}
.two{
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}
.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    list-style: 1.1;
    margin: 0 0px 8px;
}
.home-text h3{
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}
.home-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#resume-button-1{
    display: inline-block;
    padding: 4px 1px;
    /* margin-top: 10px; */
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}
#resume-button-2{
    display: inline-block;
    padding: 12px 28px;
    margin-top: 20px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}
#resume-button-1:hover, #resume-button-2:hover{
    transform: scale(0.9);
}
/* #resume-link-1{
    display: inline-block;
    padding: 4px 20px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
} */
/* .resume-button-2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    margin-left: 35px;
}
.resume-button-2 span i{
    height: 55px;
    width: 55px;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .45s ease;
}
.resume-button-2 span i:hover{
    transform: scale(1.1) translatey(5px);
} */

header.sticky{
    background: black;
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15px;
}
#about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 100px;
}
#about-img img{
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
#about-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
#about-text h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 20px;
}
#about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 1.5rem;
}
#skills{
    background: var(--second-bg-color);
}
.main-text{
    text-align: center;
}
.main-text p {
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}
.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.skills-card-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(100px); */
    /* align-items: center; */
    gap: 1rem;
    margin-top: 5rem;
    /* border: 1px solid white; */
}
.box{
    background: black;
    border-radius: 10px;
    transition: all .45s ease;
    border: 1px solid white;
}
.box img{
    width: 100%;
    border-radius: 10px;
}
/* .box h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}
.box p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
} */
.read{
    display: inline-block;
    padding: 8px 18px;
    background: #333333;
    color: var(--second-color);
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .45s ease;
}
.read:hover{
    letter-spacing: 1px;
    background: #ffffff99;
    color: var(--text-color);
}
.box:hover{
    transform: translate(-8px);
    cursor: pointer;
}
.projects-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.project-flex{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.rows{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.rows img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #fe2323);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    font-size: 20px;
    font-weight:bolder;
    margin-bottom: 15px;
    color: black;
}
.layer p{
    color: var(--second-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.8;
}
.layer i{
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.rows:hover img{
    transform: scale(1.1);
}
.rows:hover .layer{
    height: 100%;
}
#contact{
    background: black;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    /* align-items: center; */
    width: 60%;
    margin: auto;
    gap: 2.5rem;
}
.contact-text h4{
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}
.contact-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
}
.list{
    margin-bottom: 2.8rem;
}
.list li{
    margin-bottom: 12px;
}
.list li a{
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
}
.list li a:hover{
    color: var(--text-color);
    transform: translateX(5px)
}
.contact-icons i{
    height: 45px;
    width: 45px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}
.contact-icons i:hover{
    background: var(--text-color);
    color: var(--main-color);
}
/* .contact-form form{
    position: relative;
}
.contact-form form input, form textarea{
    width: 100%;
    padding: 14px;
    background: #3a3a3a;
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.contact-form textarea{
    resize: none;
    height: 240px;
}
.contact-form .submit{
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}
.contact-form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
} */
.end{
    padding: 20px 12%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--bg-color);
}
.top i{
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--text-color);
    background: var(--main-color);
}
.github{
    background: var(--second-bg-color);
}
.github-cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 100%;
    margin: auto;
    /* padding-top: 20px; */
    border: 1px solid red;
}
.react-activity-calendar{
    width: 100%;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    margin: auto;
    display: flex;
    margin-top: 20px;
}
.calendar{
    margin: auto;
    width: 100%;
}